.false-navigation {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(#000, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.5s;
    animation: opacityIn .1s ease-in;

    &__bg {
        width: 300px;
        height: 100%;
        padding: 10px 0px;
        background: #FFFFFF;
        z-index: 10;
        position: absolute;
        left: -300px;
        transition: all 0.5s;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: sticky;
        top: 0;
        bottom: 0;
    }

    &__item {
        width: 100%;
        height: 80px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            background: #eee;

            & .navigation__link {
                text-decoration: underline;
            }
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        display: block;
        color: #4b4b4b;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            background: #eee;
            text-decoration: underline;
        }
    }

    &.active {
        opacity: 1;
        animation: opacityIn .2s ease-in;
        visibility: visible;

        &>.false-navigation__bg {
            animation: slideIn .2s ease-in;
            left: 0;
        }
    }

    &.close {
        animation: opacityOut .2s ease-in;

        &>.false-navigation__bg {
            animation: slideOut .2s ease-in;
        }
    }
}

.input-gender:focus {
    opacity: 0.5;
}

@keyframes slideIn {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        left: 0px;
    }

    to {
        left: -300px;
    }
}

@keyframes opacityOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}