.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;

    &__bg {
        width: 100%;
        height: 100%;
        background: rgba($color: $TextColor, $alpha: 0.5);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    &__container {
        background: $BgColor;
        width: 100%;
        max-width: 450px;
        max-height: 95%;
        overflow-y: auto;
        z-index: 100;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 10px;
        position: relative;

        &.age {
            display: none;
        }
    }

    &__item-title {
        font-size: 16px;
        font-weight: 600;
    }

    &__required {
        font-size: 16px;
        font-weight: 600;
        color: $ErrorColor;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid $BorderColor;
        border-radius: 5px;

        &:focus::-webkit-input-placeholder {
            color: transparent
        }

        &:focus::-moz-placeholder {
            color: transparent
        }

        &:focus:-ms-input-placeholder {
            color: transparent
        }
    }

    &__item-error {
        font-size: 12px;
        color: $ErrorColor;
        position: absolute;
        bottom: -18px;
    }

    &__gender {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    &__gender-label {
        display: flex;
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
        font-weight: 600;
    }

    &__age {
        display: flex;
        align-items: center;
        column-gap: 5px;
        width: 200px;
    }

    &__age-btn {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &>svg {
            width: 100%;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &__submit {
        padding: 10px 15px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: $ButtonColor;
        border-radius: 5px;

        &:hover {
            opacity: 0.6;
        }

        &:focus {
            opacity: 0.6;
        }
    }

    &__result {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $BgColor;
        color: #008000;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 34px;
        font-weight: 700;
    }

    &.active {
        display: block;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}